.launches-list {
    columns: 4;
    text-align: center;
    height: 80vh;
    transform: translate(-2.6%,0);
  }

.launches-item {
    color: white;
    font-size: 0.6rem;
    list-style: none;
    margin: 1%;
  }

