/* .rockets-container{
    height: 100%;
    width: 100%;
} */

.rocket-div {
    /* margin: 10% auto; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 600px;
}

.rocket-inner-div {
    background-image: url("https://cdn4.iconfinder.com/data/icons/whsr-january-flaticon-set/512/rocket.png");
}

#rocket {
    height: 160px;
    display: block;
    position: absolute;
    z-index: 1;
}